
* { 
    box-sizing: border-box;
    } 
.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form{
    width: 100%;
    padding: 44px 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
}
.form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.label{
    min-width: 140px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text{
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content{
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button{
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}

.submitButton{
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
}

.cancelButton{
    /* margin-left: 140px; */
    text-decoration: none;
    text-align: center;
}


error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.input1 {
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
}

.mtr-datepicker .mtr-content .mtr-values .mtr-default-value, 
.mtr-datepicker .mtr-content .mtr-values .mtr-default-value-name, 
.mtr-datepicker .mtr-content .mtr-values .mtr-default-value.has-name{
    background-color: #fff;
}

.mtr-datepicker .mtr-content {
    color: #42515F;
    background-color: #fff;
    font: normal normal normal 16px Roboto;
}

.mtr-datepicker .mtr-content input .mtr-values .mtr-default-value, .mtr-datepicker .mtr-content input .mtr-values .mtr-default-value-name, .mtr-datepicker .mtr-content input .mtr-values .mtr-default-value.has-name, .mtr-datepicker .mtr-content.mtr-active .mtr-values .mtr-default-value, .mtr-datepicker .mtr-content.mtr-active .mtr-values .mtr-default-value-name, .mtr-datepicker .mtr-content.mtr-active .mtr-values .mtr-default-value.has-name, .mtr-datepicker .mtr-content:hover .mtr-values .mtr-default-value, .mtr-datepicker .mtr-content:hover .mtr-values .mtr-default-value-name, .mtr-datepicker .mtr-content:hover .mtr-values .mtr-default-value.has-name {
    background: #fff;
}

.form-content-mod{
    min-height: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }